<!--<h1>Public::BuyItems#index</h1>-->
<!--<p>Find me in app/views/public/buy_items/index.html.erb</p>-->
<br>
<span style="font-size:40px">商品一覧</span><span style="font-size:24px">(全<%= @items_max %>件)</span>
<br><br>
  <div class="d-flex flex-wrap"><!--flex-wrap→改行する-->
    <% @items.each do |item| %>
      <%= link_to sell_item_path(item.id) do %><!--画像、商品名、金額に商品詳細(public/sell_items#show)へのリンク-->
        <% if item.image.attached? %>
          <%= image_tag item.image, size: "300x200" %><br>
        <% else %>
          <%= image_tag 'no_image', size: "300x300" %><br><!--画像４枚-->
        <% end %>
        <%= item.name %><br><!--商品名-->
        税抜
        <%= item.price %><!--金額-->
        円<br>
      <% end %>
      　　
    <% end %>
  </div>
<br><br>
<div class="d-flex justify-content-center"><%= paginate @items %></div>
<br>