<!--<h2>Public::BuyItems#index</h2>-->
<!--<p>Find me in app/views/public/buy_items/index.html.erb</p>-->
<br>
<h2><span style="background-color:lightgray" class="m-5">　商品一覧　</span><span style="font-size:20px">(全<%= @items_max %>件)</span></h2>

  <div class="m-5 d-flex flex-wrap"><!--flex-wrap→改行する-->
    <% @items.each do |item| %>
      <%= link_to buy_item_path(item.id) do %><!--画像、商品名、金額に商品詳細(遷移先:public/buy_items#show)-->
        <% if item.image.attached? %>
          <%= image_tag item.image, width: '150px', height: 'auto' %><br>
        <% else %>
          <%= image_tag 'no_image', size: "300x300" %><br><!--画像４枚-->
        <% end %>
        <div class="d-block text-truncate" style="max-width: 150px;"><!--幅150px以上は文字切り詰め-->
        <%= item.name %><br><!--商品名-->
        </div>
        税抜
        <%= item.price.to_s(:delimited) %><!--金額--><!--to_s(:delimited)→文字列に変換してカンマをつける-->
        円<br>
        <%#= item.member.name %><br><!--販売者名-->
      <% end %>
    <% end %>
  </div>
<br><br>
<div class="d-flex justify-content-center"><%= paginate @items %></div>
<br>

