<!--<h2>Public::BuyItems#show</h2>-->
<!--<p>Find me in app/views/public/buy_items/show.html.erb</p>-->
<br>
<table border="0" class="mx-auto" width="1200">
  <tr class="align-top">
    <td rowspan="9"  width="300" class="align-middle"><!--セル結合:colspan(列の長さ)、rowspan(行の長さ)-->
      <% if @item.image.attached? %>
        <%= image_tag @item.image, width: '250px', height: 'auto' %>
      <% else %>
        <%= image_tag 'no_image', size: "300x300" %>
      <% end %>
    </td>
  </tr>
  <tr>
    <th height="50" width="180">販売元</th>
    <td><%= @item.member.last_name %>　<%= @item.member.first_name %></td>
  </tr>
  <tr>
    <th height="50" width="180">ジャンル</th>
    <td><%= @item.genre.name %></td>
  </tr>
  <tr>
    <th>商品名</th>
    <td><h4><b><%= @item.name %></b></h4></td>
  </tr>
  <tr>
    <th height="60">状態</th>
      <% if @item.used_condition == false %>
        <td>新品</td>
      <% else %>
        <td>中古</td>
      <% end %>
  </tr>
  <tr class="align-top">
    <th>商品説明</th>
    <td><%= safe_join(@item.introduction.split("\n"),tag(:br)) %></td>
  </tr>
  <tr>
    <th height="70">税込価格(税抜価格)</th>
    <!--税込価格の計算式/nagano_cake/app/models/item.rb-->
    <td><h4><%= @item.tax_included_price.to_s(:delimited) %>円<span style="font-size:16px">(<%= @item.price.to_s(:delimited) %>円)</span></span></h4></td><!--to_s(:delimited)→文字列に変換してカンマをつける-->
  </tr>
  <tr>
    <th height="50">送料</th>
    <td><%= @item.postage.to_s(:delimited) %>円</td><!--to_s(:delimited)→文字列に変換してカンマをつける-->
  </tr>
</table>

  <div class="text-right mr-5">
    <%= form_with model: @cart_item, url: cart_items_path do |f| %><!--遷移先:public/cart_items#create-->
      <b>数量</b>　<%= f.select :amount, [['1',1],['2',2],['3',3],['4',4],['5',5],['6',6],['7',7],['8',8],['9',9]] %>　　　
      <%= f.hidden_field :item_id, :value => @item.id %>
      <%= f.submit "カートに入れる", class: "btn btn-success" %>
    <% end %>
  </div>
<br>
<%= link_to "新規投稿する", new_buy_item_review_path(@item.id), class: "btn btn-success" %>