<!--<h2>Public::SellOrders#show</h2>-->
<!--<p>Find me in app/views/public/sell_orders/show.html.erb</p>-->
<br>
<%= notice %>

<h2><span style="background-color:lightgray" class="m-5">　[販売]注文履歴詳細　</span></h2>
<br>
  <table border="0" class="mx-auto">
    <tr>
      <th height="50" width="200">購入者</td>
      <td width="300"><%= @order.member.last_name %> <%= @order.member.first_name %></td>
    </tr>
    <tr>
      <th height="50">注文日</td>
      <td width="300"><%= @order.created_at.in_time_zone('Tokyo').strftime("%Y-%m-%d %H:%M:%S") %></td>
      <!--.in_time_zone('Tokyo')→UTC(協定世界時刻のデフォルト値)をJST(日本時間)に換算する-->
      <!--.strftime("%Y-%m-%d")→UTCを消して時刻のフォーマットに変更する-->
    </tr>
    <tr>
      <th height="50">配送先</td>
      <td colspan="2">
          〒<%= @order.postal_code %>　<%= @order.address %><br>
          <%= @order.name %>
      </td>
    </tr>
    <tr>
      <th height="50">支払方法</td>
      <td><%= @order.payment_method_i18n %></td><!--i18n→日本語に変換する-->
    </tr>
    <tr>
      <th height="50">受注ステータス</td><!--プルダウン-->
      <td><!--遷移先:public/sell_orders#update-->
          <%= form_with model: @order, url: sell_order_path(@order.id), method: :patch, local: true do |f| %>
            <%= f.select :order_status, Order.order_statuses.keys.map {|k| [I18n.t("enums.order.order_status.#{k}"), k]} %>
            <!--ブラウザには日本語で表示→英語でデータを渡すために、再度英語に変換する-->
          <%= f.submit "更新" , class: "btn btn-success" %>
          <% end %>
      </td>
    </tr>
  </table>
  
<br><br>

  <table border="1" class="mx-auto">
    <thead>
      <tr bgcolor="lightgray" height="50">
        <th class="text-center" width="600">商品名</th>
        <th class="text-center" width="150">単価(税込)</th>
        <th class="text-center" width="100">数量</th>
        <th class="text-center" width="150">送料</th>
        <th class="text-center" width="150">小計</th>
        <th class="text-center" width="250">準備ステータス</th>
      </tr>
    </thead>

    <tbody>
      <% @order_details.each do |order_detail| %>
      <%# @total_payment = @total_payment + order.subtotal_price + order.item.postage %><!--●小計と送料を足していく-->
        <tr height="50">
          <!--商品名-->
          <td><%= order_detail.item.name %></td>
          <!--単価(税込)-->
          <td class="text-right"><%= order_detail.item.tax_included_price.to_s(:delimited) %></td>
          <!--数量-->
          <td class="text-right"><%= order_detail.amount %></td>
          <!--送料-->
          <td class="text-right"><%= order_detail.item.postage.to_s(:delimited) %></td>
          <!--小計-->
          <td class="text-right"><%= (order_detail.subtotal_price + order_detail.item.postage).to_s(:delimited) %></td>
          <!--準備ステータス-->
          <%= form_with model: order_detail, url: sell_order_detail_path(order_detail.id), method: :patch do |f| %><!--public/sell_order_details#update-->
          <!--ブラウザには日本語で表示→英語でデータを渡すために、再度英語に変換する-->
            <td class="text-center"><%= f.select :arranging_status, OrderDetail.arranging_statuses.keys.map {|k| [I18n.t("enums.order_detail.arranging_status.#{k}"), k]} %>
                <%= f.submit "更新", class: "btn btn-success" %>
            </td>
          <% end %>
        </tr>
      <tr height="50">
        <th class="text-center" bgcolor="lightgray" colspan="4">合計金額</th>
        <td class="text-right"><b><%= (@total_price + @total_postage).to_s(:delimited) %></td></b>
      </tr>
      <% end %>
    </tbody>
  </table>
<br>

