<!--<h1>Admin::MemberSells#index</h1>-->
<!--<p>Find me in app/views/admin/member_sells/index.html.erb</p>-->
<br>
<table style="display:flex; justify-content:center">
  <tr>
    <th width="400"><h1><span style="background-color:lightgray" class="m-5">　商品一覧　</span></h1></th>
    <th width="150"></th>
    <th width="150"></th>
    <th width="150"></th>
    <th width="150"></th>
  </tr>
</table>
<br>
<table style="display:flex; justify-content:center">
  <tr bgcolor="lightgray" height="50">
    <th width="150">商品ID</th>
    <th width="350">商品名</th>
    <th width="150">税抜価格(円)</th>
    <th width="150">ジャンル</th>
    <th width="150">ステータス</th>
  </tr>

  <% @items.each do |item| %>
    <tr height="50">
      <td><%= item.id %></td>
      <td><%=link_to item.name, admin_member_sell_path(item.id) %></td><!--admin/member_sells#show-->
      <td><%= item.price %></td>
      <td><%= item.genre.name %></td>
      
      <% if item.sell_status == 0 %><!---->
        <td><font color="green">販売中</font></td>
      <% elsif item.sell_status == 1 %>
        <td><font color="gray">下書き</font></td>
      <% else %>
        <td><font color="gray">販売停止中</font></td>
      <% end %>
    </tr>
  <% end %>
</table>

<!--ページネーション-->
<!--https://getbootstrap.jp/→ドキュメント→検索-->
<div class="d-flex justify-content-center"><%= paginate @items %></div>
<br>