<!--<h2>Admin::MemberSells#show</h2>-->
<!--<p>Find me in app/views/admin/member_sells/show.html.erb</p>-->
<br>
<h2><span style="background-color:lightgray" class="m-5">　<%= @member.last_name %><%= @member.first_name %>さんの販売商品詳細　</span></h2>
<!--表示したいものが一つだけの場合、each文は書けない-->
<br>
<table border="0" class="mx-auto" width="1200">
  <tr class="align-top">
    <td rowspan="8"  width="300" class="align-middle"><!--セル結合:colspan(列の長さ)、rowspan(行の長さ)-->
      <% if @item.image.attached? %>
        <%= image_tag @item.image, width: '250px', height: 'auto' %>
      <% else %>
        <%= image_tag 'no_image', size: "300x300" %>
      <% end %>
    </td>
  </tr>
  <tr>
    <th height="50" width="150">ジャンル</th>
    <td><%= @item.genre.name %></td>
  </tr>
  <tr>
    <th>商品名</th>
    <td><h4><b><%= @item.name %></b></h4></td>
  </tr>
  <tr>
    <th height="60">状態</th>
      <% if @item.used_condition == false %>
        <td>新品</td>
      <% else %>
        <td>中古</td>
      <% end %>
  </tr>
  <tr class="align-top">
    <th>商品説明</th>
    <td><%= safe_join(@item.introduction.split("\n"),tag(:br)) %></td>
  </tr>
  <tr>
    <th height="70">税込価格<br>(税抜価格)</th>
    <!--税込価格の計算式/arameya/app/models/item.rb-->
    <td><%= @item.tax_included_price.to_s(:delimited) %>円<br>(<%= @item.price.to_s(:delimited) %>円)</td><!--to_s(:delimited)→文字列に変換してカンマをつける-->
  </tr>
  <tr>
    <th height="50">送料</th>
    <td><%= @item.postage.to_s(:delimited) %>円</td><!--to_s(:delimited)→文字列に変換してカンマをつける-->
  </tr>
  <tr>
    <th height="50">販売ステータス</th>
    <% if @item.sell_status == 0 %>
      <td><font color="green"><b>販売中</b></font></td>
    <% elsif @item.sell_status == 1 %>
      <td><font color="orange"><b>下書き</b></font></td>
    <% else %>
      <td><font color="gray"><b>販売停止中</b></font></td>
    <% end %>
  </tr>
</table>
<br>