<!--<h1>Admin::MemberSellOrders#show</h1>-->
<!--<p>Find me in app/views/admin/member_sell_orders/show.html.erb</p>-->
<br>
<!--/config/locales/ja.yml-->
<%= notice %>

<h2><span style="background-color:lightgray" class="m-5">　<%= @member.last_name %><%= @member.first_name %>さんの販売履歴詳細　</span></h2>
<br>
  <table border="0" class="mx-auto">
    <tr>
      <th height="50" width="200">購入者</th>
      <td width="300"><%= @order.member.last_name %> <%= @order.member.first_name %></td>
    </tr>
    <tr>
      <th height="50">注文日時</th>
      <td width="300"><%= @order.created_at.in_time_zone('Tokyo').strftime("%Y-%m-%d %H:%M:%S") %></td>
      <!--.in_time_zone('Tokyo')→UTC(協定世界時刻のデフォルト値)をJST(日本時間)に換算する-->
      <!--.strftime("%Y-%m-%d")→UTCを消して時刻のフォーマットに変更する-->
    </tr>
    <tr>
      <th height="50">配送先</th>
      <td colspan="2">
          〒<%= @order.postal_code %>　<%= @order.address %><br>
          <%= @order.name %>
      </td>
    </tr>
    <tr>
      <th height="50">支払方法</th>
      <td><%= @order.payment_method_i18n %></td><!--i18n→日本語に変換する-->
    </tr>
    <tr>
      <th height="50">注文ステータス</th>
      <td><%= @order.order_status_i18n %></td><!--i18n→日本語に変換する-->
<!--遷移先:-->
    </tr>
  </table>
<br><br>
  <table border="1" width="1200" class="mx-auto">
    <thead>
      <tr bgcolor="lightgray" height="50">
        <th class="text-center" width="200">販売元</th>
        <th class="text-center" width="600" colspan="2">商品名</th>
        <th class="text-center" width="100">単価(税込)</th>
        <th class="text-center" width="100">数量</th>
        <th class="text-center" width="100">送料</th>
        <th class="text-center" width="100">小計</th>
      </tr>
    </thead>
    <tbody>
    <% @order.order_details.each do |order| %>
        <tr height="80">
          <td><%= order.item.member.last_name %><%= order.item.member.first_name %></td><!--販売元-->
          <td><%= image_tag order.item.get_image, width: '80px', height: 'auto' %></td><!--商品画像-->
          <td><li><%= order.item.name %></li></td><!--商品名-->
          <td class="text-right"><%= order.item.tax_included_price.to_s(:delimited) %></td><!--税込--><!--to_s(:delimited)→文字列に変換してカンマをつける-->
          <td class="text-right"><%= order.amount %></td><!--数量-->
          <td class="text-right"><%= order.item.postage.to_s(:delimited) %></td><!--送料-->
          <td class="text-right"><%= (order.subtotal_price + order.item.postage).to_s(:delimited) %></td><!--小計-->
        </tr>
      <% end %>
      <tr height="50">
        <th class="text-center" bgcolor="lightgray" colspan="6">合計金額</th>
        <td class="text-right"><b><%= @order.total_payment.to_s(:delimited) %></td></b>
      </tr>
    </tbody>
  </table>
<br>