<!--<h1>Public::Homes#top</h1>-->
<!--<p>Find me in app/views/public/homes/top.html.erb</p>-->
<p id="notice"><%= notice %></p>

<% unless member_signed_in? %><!--会員がサインインしていなかったら表示させる-->
  <div class="text-center">
    　<p>こちらは、法人・個人の方が売買ができる通信販売サイトとなっております。<br>
        会員でない方も商品の閲覧はできますが、売買をするには会員登録が必要になります。</p>
  </div>
<% end %>
<br>

<h2><span style="background-color:lightgray" class="m-5">　新着商品　</span></h2>
  <table  class="m-5 d-flex flex-wrap">
      <tr>
      <% @items.each do |item| %>
        <td width="200">
          <%= link_to buy_item_path(item.id) do %><!--画像、商品名、金額に商品詳細(public/buy_items#show)へのリンク-->
            <% if item.image.attached? %>
              <%= image_tag item.image, width: '150px', height: 'auto' %><br>
            <% else %>
              <%= image_tag 'no_image', size: "200x150" %><br>
            <% end %>
              <div class="d-block text-truncate" style="max-width: 150px;"><!--幅150px以上は文字切り詰め-->
              <%= item.name %><br><!--商品名-->
              </div>
              税抜
              <%= item.price.to_s(:delimited) %><!--金額--><!--to_s(:delimited)→文字列に変換してカンマをつける-->
              円
          <% end %>
        </td>
      <% end %>
      </tr>
  </table>
<br>

  <div align="right" class="pr-5">
    <%= link_to "全ての商品を見る＞", buy_items_path %><!--遷移先:public/buy_items#index-->
  </div>
<br>