<!--<h2>Admin::Homes#top</h2>-->
<!--<p>Find me in app/views/admin/homes/top.html.erb</p>-->
<br>
<!--/nagano_cake/config/locales/ja.yml★★★★★-->
<%= notice %><!--ログインに成功したらメッセージを表示する-->

<h2><span style="background-color:lightgray" class="m-5">　会員一覧　</span></h2>
<br>
<table class="table" style="display:flex; justify-content:center">
  <tr bgcolor="lightgray" height="50">
    <th width="150">会員ID</th>
    <th width="150">氏名</th>
    <th width="350">メールアドレス</th>
    <th width="150">会員ステータス</th>
  </tr>
  
  <% @members.each do |member| %>
    <tr height="50">
      <td><%= member.id %></td>
      <td><%=link_to member.last_name+member.first_name, admin_member_path(member.id) %></td><!--遷移先:admin/members#show-->
      <td><%= member.email %></td>

        <% if member.is_deleted == false %>
      <td><font color="green">有効</font></td>
        <% else %>
      <td><font color="gray">退会</font></td>
        <% end %>
    </tr>
  <% end %>
</table>

<!--ページネーション-->
<!--https://getbootstrap.jp/→ドキュメント→検索-->
<div class="d-flex justify-content-center"><%= paginate @members %></div>
<br>