<!--<h1>Admin::AdMemMessages#index</h1>-->
<!--<p>Find me in app/views/admin/ad_mem_messages/index.html.erb</p>-->
<!--管理者側の会員サイドメニューバー グリッドシステム設定はそれぞれの本体部分で行う-->
<!--<div class="container-fluid">-->
<!--  <div class="row">-->
<!--    <div class="offset-xl-1"></div>-->
<!--    <div class="col-xl-2">-->
<!--      <%#= render "/layouts/admin_member_mypage" %>-->
<!--    </div>-->
<!--    <div class="col-xl-9">-->
<br>
<table style="display:flex; justify-content:center">
  <tr>
    <th width="600"><h2><span style="background-color:lightgray" class="m-5">　<%= @member.last_name %><%= @member.first_name %>さんの[管理者ー会員]メッセージ一覧　</h2></th>
    <th width="150"><%= link_to "新規投稿", new_admin_member_ad_mem_message_path, class: "btn btn-success" %></th><!--遷移先:admin/ad_mem_messages#new-->
  </tr>
</table>
<br>

<table class="mx-auto">
  <tr bgcolor="lightgray" height="50">
    <th class="text-center" width="100">件名</th>
    <th class="text-center" width="200">商品名</th>
    <th class="text-center" width="500">投稿日時</th>
    <th class="text-center" width="100">対応</th>
  </tr>
<!---->
  <% @messages.each do |message| %>
    <tr height="50">
      <td><%=link_to message.am_message_title, admin_member_ad_mem_message_path(@member.id, message.id) %></td><!--件名--><!--遷移先:admin/ad_mem_messages#show-->
      <td><%= message.am_message_item %></td><!--商品名-->
      <td><%= message.created_at.in_time_zone('Tokyo').strftime("%Y-%m-%d %H:%M:%S") %></td><!--投稿日時-->
          <!--.in_time_zone('Tokyo')→UTC(協定世界時刻のデフォルト値)をJST(日本時間)に換算する-->
          <!--.strftime("%Y-%m-%d %H:%M:%S")→UTCを消して時刻のフォーマットに変更する-->
      <td class="text-center"><%= message.am_message_reply %></td><!--対応-->
    </tr>
  <% end %>
</table>

<!--ページネーション-->
<!--https://getbootstrap.jp/→ドキュメント→検索-->
<div class="d-flex justify-content-center"><%#= paginate @messages %></div>
<br>
