<!--<h2>Public::SellItems#edit</h2>-->
<!--<p>Find me in app/views/public/sell_items/edit.html.erb</p>-->
<br>
<h2><span style="background-color:lightgray" class="m-5">　[販売]商品編集　</span></h2>
<br>
<%= form_with model: @item, url: sell_item_path(@item.id) do |f| %><!--遷移先:public/sell_items#update-->
  <table border="0" class="mx-auto">
    <tr>
      <th height="50">商品画像</th>
      <td><%= f.file_field :image, accept: "image/*" %></td>
    </tr>
    <tr>
      <th height="50">ジャンル</th>
      <!--プルダウンを実装-->
      <!--%<= f.collection_select :保存先のカラム名, テーブル（モデル）名.all, :実際にDBに保存させるカラム名, :選択肢に用いるカラム名, include_blank: "選択して下さい" %>-->
      <td><%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: "選択して下さい" %></td>
    </tr>
    <tr>
      <th height="50">商品名</th>
      <td><%= f.text_area :name, size: "50" %></td>
    </tr>
    <tr>
      <th height="50">状態</th>
      <td>
        <%= f.radio_button :used_condition, :false %>
          <%= f.label :used_condition, "新品", {value: :false, style: "display: inline-block;"} %>　
        <%= f.radio_button :used_condition, :true %>
          <%= f.label :used_condition, "中古", {value: :true, style: "display: inline-block;"} %>
      </td>
    </tr>
    <tr>
      <th height="100">商品説明</th>
      <td><%= f.text_area :introduction, size: "80x10" %></td>
    </tr>
    <tr>
      <th height="50">税抜価格</th>
      <td><%= f.text_field :price %>　円</td>
    </tr>
    <tr>
      <th height="50">送料</th>
      <td><%= f.text_field :postage %>　円</td>
    </tr>
    <tr>
      <th height="50">販売ステータス　　</th>
      <td>
        <%= f.radio_button :sell_status, 0, {:checked => true} %><!--{:checked => true}→初期選択-->
          <%= f.label :sell_status, "販売中" %>　
        <%= f.radio_button :sell_status, 1 %>
          <%= f.label :sell_status, "下書き" %>　
        <%= f.radio_button :sell_status, 2 %>
          <%= f.label :sell_status, "販売停止中" %>
      </td>
    </tr>
    <tr>
      <td height="100" colspan="3" style="text-align: center"><%= f.submit '変更を保存', class: "btn btn-success" %></td>
    </tr>
  </table>
<% end %>
<br>