<!--<h2>Public::SellItems#index</h2>-->
<!--<p>Find me in app/views/public/sell_items/index.html.erb</p>-->
<br>
<table style="display:flex; justify-content:center">
  <tr>
    <th width="600"><h2><span style="background-color:lightgray" class="m-5">　[販売]商品一覧　</span><span style="font-size:20px">(全<%= @items_max %>件)</span></h2></th>
    <th width="150"></th>
    <th width="150"></th>
    <th width="150"></th>
    <th width="150"><%= link_to "商品新規登録", new_sell_item_path, class: "btn btn-success" %></th><!--遷移先:public/sell_items#new-->
  </tr>
</table>
<br>

<table class="mx-auto">
  <tr bgcolor="lightgray" height="50">
    <th class="text-center" width="100">商品ID</th>
    <th class="text-center" width="200">ジャンル</th>
    <th class="text-center" width="500">商品名</th>
    <th class="text-center" width="100">単価(税抜)</th>
    <th class="text-center" width="150">ステータス</th>
    <th></th>
  </tr>

  <% @items.each do |item| %>
    <tr height="50">
      <td class="text-center"><%= item.id %></td>
      <td class="text-center"><%= item.genre.name %></td>
      <td><%=link_to item.name, sell_item_path(item.id) %></td><!--遷移先:public/sell_items#show-->
      <td class="text-right"><%= item.price.to_s(:delimited) %>円</td><!--to_s(:delimited)→文字列に変換してカンマをつける-->
      
      <% if item.sell_status == 0 %>
        <td class="text-center"><font color="green"><b>販売中</b></font></td>
      <% elsif item.sell_status == 1 %>
        <td class="text-center"><font color="orange"><b>下書き</b></font></td>
      <% else %>
        <td class="text-center"><font color="gray"><b>販売停止中</b></font></td>
      <% end %>
    </tr>
  <% end %>
</table>

<!--ページネーション-->
<!--https://getbootstrap.jp/→ドキュメント→検索-->
<div class="d-flex justify-content-center"><%= paginate @items %></div>
<br>