<!--<h1>Public::Reviews#new</h1>-->
<!--<p>Find me in app/views/public/reviews/new.html.erb</p>-->
<br>
<h2><span style="background-color:lightgray" class="m-5">　レビュー・評価新規作成　</span></h2>
<br>
<%= form_with model: @review_new, url: buy_item_reviews_path(@item.id) do |f| %><!--遷移先:public/reviews#create-->
<table border="0" class="mx-auto" width="1200">
  <tr>
    <th height="50" width="180">販売元</th>
    <td><%= @item.member.last_name %><%= @item.member.first_name %></td>
  </tr>
  <tr>
    <th>購入商品</th>
    <%# @item.order_details.each do |item| %>
    <td>
      <p><%= @item.name %></p>
      <%= f.hidden_field :item_id, :value => item.id %>
    </td><!--商品名-->
    <%# end %>
  </tr>

  <tr>
    <th height="60">件名</th>
    <td><%= f.text_field :review_title, autocomplete: "review_title", size: "50" %></td>
  </tr>
  <tr>
    <th>評価</th>
    <td>
        <!--評価機能追加-->
      <div class="form-group row" id="reviews">
        <div id="star"></div>
      </div>
      <script>
        $(document).on('turbolinks:load', function() {
        let raty_elem = document.querySelector('#star');
        raty_elem.innerHTML = ""  // scriptファイルをどのidの部分に配置するかを指定
        let option = {  
            starOn: "<%= asset_path('star-on.png') %>",  //星画像の指定などのオプションをここに記述,
            starOff: "<%= asset_path('star-off.png') %>",
            starHalf: "<%= asset_path('star-half.png') %>",
            scoreName: "review[star]"
          };
        raty(raty_elem,option);
       });
      </script>
  </td>
  </tr>
  <tr>
    <th>レビュー内容</th>
    <td><%= f.text_area :review_body, autocomplete: "review_body", size: "80×500" %></td>
  </tr>
  <tr>
    <th></th>
    <td><%= f.submit '投稿する', class: "btn btn-success" %></td>
  </tr>
</table>
<% end %>
<br>