<!--<h1>Public::Reviews#show</h1>-->
<!--<p>Find me in app/views/public/reviews/show.html.erb</p>-->
<!--会員マイページサイドメニューバー グリッドシステム設定はそれぞれの本体部分で行う-->
<br>
      <h2><span class="m-5" style="background-color:lightgray">　レビュー・評価詳細　</span></h2>
<br>
        <table border="0" width="600" class="mx-auto">
          <tr>
            <th height="50" width="100">購入日時</th>
            <td width="300"><%= @review.item.created_at.in_time_zone('Tokyo').strftime("%Y-%m-%d %H:%M:%S") %></td>
                <!--.in_time_zone('Tokyo')→UTC(協定世界時刻のデフォルト値)をJST(日本時間)に換算する-->
                <!--.strftime("%Y-%m-%d %H:%M:%S")→UTCを消して時刻のフォーマットに変更する-->
          </tr>
          <tr>
            <th height="50">購入元</th>
            <td><%= @review.item.member.last_name %><%= @review.item.member.first_name %></td>
          </tr>
          <tr>
            <th height="50">購入商品</th>
                <td><%= @item.name %></td>
          </tr>
          <tr>
            <th height="50">件名</th>
            <td><%= @review.review_title %></td>
          </tr>
          <tr>
            <th height="50">レビュー投稿日時</th>
            <td><%= @review.created_at.in_time_zone('Tokyo').strftime("%Y-%m-%d %H:%M:%S") %></td>
                <!--.in_time_zone('Tokyo')→UTC(協定世界時刻のデフォルト値)をJST(日本時間)に換算する-->
                <!--.strftime("%Y-%m-%d %H:%M:%S")→UTCを消して時刻のフォーマットに変更する-->
          </tr>
          <tr>
            <th height="50">評価</th>
            <td>
                <div id="star-rate-<%= @review.id %>"></div>
                <script>
                    var elem = document.getElementById('star-rate-<%= @review.id %>');
                    var opt = {  
                    starOn: "<%= asset_path('star-on.png') %>",
                    starOff: "<%= asset_path('star-off.png') %>",
                    starHalf: "<%= asset_path('star-half.png') %>",
                    half: true,
                    readOnly: true,
                    score: <%= @review.star %>,
                    };
                    raty(elem,opt);
                </script>
            </td>
          </tr>
          <tr>
            <th height="50">レビュー内容</th>
            <td><%= @review.review_body %></td>
          </tr>
          <tr>
            <th></th>
            <td><%= link_to '編集する', edit_buy_item_review_path(@item.id), class: "btn btn-success" %></td> <!--url(遷移先):public/reviews#edit(レビュー内容編集)-->
          </tr>
        </table>
    </div>
  </div>
</div>
<br>
