<!--<h2>Public::BuyAddresses#edit</h2>-->
<!--<p>Find me in app/views/public/buy_addresses/edit.html.erb</p>-->
<br>
      <h2><span style="background-color:lightgray" class="m-5">　配送先編集　</span></h2>
<br>
        <%= form_with model: @address, url: buy_address_path do |f| %><!--url(遷移先):public/buy_addresses#update-->
          <table border="0" width="900" class="mx-auto">
            <tr height="50">
              <th width="100">郵便番号</th>
              <td width="400"><%= f.text_field :postal_code%></td>
            </tr>
            
            <tr height="50">
              <th>住所</th>
              <td><%= f.text_area :address, size: "50" %></td>
            </tr>
            
            <tr height="50">
              <th>宛名</th>
              <td><%= f.text_field :name %></td>
              <td><%= f.submit '変更内容を保存', class: "btn btn-success" %></td>
            </tr>
          </table>
        <% end %>
    </div>
  </div>
</div>
<br>