<!--<h2>Public::BuyOrders#comfirm</h2>-->
<!--<p>Find me in app/views/public/buy_orders/comfirm.html.erb</p>-->
<br>
<h2><span style="background-color:lightgray" class="m-5">　注文情報確認　</span></h2>
<br>
  <table border="1" class="mx-auto">
    <thead>
      <tr bgcolor="lightgray" height="50">
        <th class="text-center" width="200">販売元</th>
        <th class="text-center" width="500">商品名</th>
        <th class="text-center" width="100">単価(税込)</th>
        <th class="text-center" width="100">数量</th>
        <th class="text-center" width="100">送料</th>
        <th class="text-center" width="100">小計</th>
      </tr>
    </thead>

    <tbody>
      <% @cart_items.each do |cart_item| %>
      <% @total_payment = @total_payment + cart_item.subtotal_price %><!--小計を足していく-->
        <tr height="80">
          <td><%= cart_item.item.member.last_name %><%= cart_item.item.member.first_name %></td><!--販売元-->
          <td><%= image_tag cart_item.item.get_image %>　<%= cart_item.item.name %></td><!--商品画像--><!--商品名-->
          <td class="text-right"><%= cart_item.item.tax_included_price.to_s(:delimited) %></td><!--税込--><!--to_s(:delimited)→文字列に変換してカンマをつける-->
          <td class="text-right"><%= cart_item.amount %></td><!--数量-->
          <td class="text-right"><%= cart_item.item.postage.to_s(:delimited) %></td><!--送料-->
          <td class="text-right"><%= cart_item.subtotal_price.to_s(:delimited) %></td><!--小計-->
        </tr>      
      <% end %>
        
        <tr height="50">
          <th class="text-center" bgcolor="lightgray" colspan="5">合計金額</th>
          <td class="text-right"><b><%= @total_payment.to_s(:delimited) %></b></td><!--23行目で計算済-->
        </tr>
    </tbody>
  </table>
<br>

  <table border="0" style="display:flex; justify-content:center">
      <tr>
        <td height="50"><h3><b>支払方法</b></h3></td>
        <td>　　<%= @order.payment_method_i18n %></td><!--i18n→日本語に変換する-->
      </tr>

      <tr>
        <td height="50"><h3><b>配送先</b></h3></td>
        <td>　　〒<%= @order.postal_code %>　<%= @order.address %></td>
      </tr>
      
      <tr>
        <td height="50"><h3><b>　　　　</b></h3></td>
        <td>　　<%= @order.name %></td>
      </tr>
  </table>
<br><br>
  <%= form_with model: @order, url: buy_orders_path , method: :post do |f| %><!--遷移先：public/buy_orders#create-->
    <div class="text-center">
      <%= f.submit "注文を確定する", class: "btn btn-success" %>
    </div>
    
    <!--各項目のデータを送る-->
    <%= f.hidden_field :postal_code %>
    <%= f.hidden_field :address %>
    <%= f.hidden_field :name %>
    <%= f.hidden_field :shipping_cost %>
    <%= f.hidden_field :total_payment, value: @total_payment %>
    <%= f.hidden_field :payment_method %>
    <%= f.hidden_field :order_status %>
  <% end %>
<br>