<!--<h2>Public::BuyOrders#index</h2>-->
<!--<p>Find me in app/views/public/buy_orders/index.html.erb</p>-->
<br>
<h2><span style="background-color:lightgray" class="m-5">　注文履歴一覧　</span></h2>
<br>
  <table border="1" width="1400" class="mx-auto"><!--ボーダーを入れるときは←の設定する(widthはtdの総計)-->
    <thead>
      <tr bgcolor="lightgray" style="text-align:center" height="50">
        <th width="100">注文日</th>
        <th width="300">配送先</th>
        <th width="500">注文商品</th><!-- colspan="2"-->
        <th width="100">支払金額</th>
        <th width="130">ステータス</th>
        <th width="120">注文詳細</th>
        <th width="150">レビュー</th>
      </tr>
    </thead>

    <tbody>
      <% @orders.each do |order| %>
        <tr height="80">
          <td><%= order.created_at.in_time_zone('Tokyo').strftime("%Y-%m-%d %H:%M:%S") %></td><!--注文日-->
          <!--.in_time_zone('Tokyo')→UTC(協定世界時刻のデフォルト値)をJST(日本時間)に換算する-->
          <!--.strftime("%Y-%m-%d %H:%M:%S")→UTCを消して時刻のフォーマットに変更する-->
          <td>〒<%= order.postal_code %><%= order.address %><br><%= order.name %></td><!--郵便番号、住所、氏名-->

          <td class="align-text-top">
          <% order.order_details.each do |order_detail| %>
            <%= image_tag order_detail.item.get_image %>
            <%= order_detail.item.name %><br><!--注文商品-->
          <% end %>
          </td>

          <!--<div class="container">-->
          <!--  <div class="row">-->
          <!--    <div class="col">-->
          <!--      <img class="my-5 w-100" src="img/">-->
          <!--      </div>-->
          <!--    <div class="col d-flex align-items-center">-->
          <!--      <p class="mb-0">画像の中央あたりに横に並べたいです</p>-->
          <!--  　 </div>-->
          <!--　 </div>-->
          <!--</div>-->
  
          <td align="right"><%= order.total_payment.to_s(:delimited) %></td><!--支払金額--><!--to_s(:delimited)→文字列に変換してカンマをつける-->
          <td align="center"><%= order.order_status_i18n %></td><!--ステータス--><!--i18n→日本語に変換する-->
          <td align="center"><!--注文詳細-->
            <!--遷移先：public/buy_orders#show(注文履歴詳細)-->
            <%= link_to "表示する", buy_order_path(order.id), class: "btn btn-primary" %>
          </td>
          <td align="center"><!--レビュー-->
            <!--遷移先：public/reviews#new(レビュー新規作成)-->
            <% order.order_details.each do |order_detail| %>
              <%= link_to "新規投稿する", new_buy_item_review_path(@item.id), class: "btn btn-success" %><br><br><br>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<br>