<!--会員マイページサイドメニューバー グリッドシステム設定はそれぞれの本体部分で行う(ここではcontainer-row-colの設定は不要)-->

<div class="text-center mt-5">
    <%= link_to "マイページ登録情報", members_my_page_path, class: "btn btn-primary btn-block" %><!--遷移先：public/members#show-->
</div>
<div class="text-center mt-5">
    <%= link_to "[購入]配送先一覧", buy_addresses_path, class: "btn btn-primary btn-block" %><!--遷移先：public/buy_addresses#index-->
</div>
<div class="text-center mt-5">
    <%= link_to "[購入]レビュー・評価履歴一覧",  members_reviews_path, class: "btn btn-primary btn-block" %><!--遷移先：public/members#reviews-->
</div>
<div class="text-center mt-5">
    <%= link_to "[販売]商品一覧", member_sell_items_path(@member.id), class: "btn btn-primary btn-block" %><!--遷移先：public/sell_items#index-->
</div>
<div class="text-center mt-5">
    <%= link_to "[販売]注文履歴一覧", sell_orders_path, class: "btn btn-primary btn-block" %><!--遷移先：public/sell_orders#index-->
</div>
<div class="text-center mt-5">
    <%= link_to "[会員宛]メッセージ一覧", members_my_page_path, class: "btn btn-primary btn-block" %><!--遷移先：public/members#show-->
</div>
<div class="text-center mt-5">
    <%= link_to "[管理者宛]メッセージ送信", room_path(@room.id), class: "btn btn-primary btn-block" %><!--遷移先：public/rooms#show-->
</div>
