<!--会員マイページサイドバーメニュー-->
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-2">
<br>
            <div class="text-center">
                <!--遷移先：public/members#show-->
                   <%= link_to "マイページ登録情報", members_my_page_path, class: "btn btn-primary" %>
            </div>
<br>    
            <div class="text-center">
                <!--遷移先：public/buy_addresses#index-->
                   <%= link_to "[購入]配送先一覧", buy_addresses_path, class: "btn btn-primary" %>
            </div>
<br>    
            <div class="text-center">
                <!--遷移先：public/members#show-->
                   <%= link_to "[購入]レビュー・評価一覧", members_my_page_path, class: "btn btn-primary" %>
            </div>
<br>
            <div class="text-center">
                <!--遷移先：public/members#show-->
                   <%= link_to "[会員宛]メッセージ一覧", members_my_page_path, class: "btn btn-primary" %>
            </div>
<br>    
            <div class="text-center">
                <!--遷移先：public/members#show-->
                   <%= link_to "[管理者宛]メッセージ一覧", members_my_page_path, class: "btn btn-primary" %>
            </div>
        </div>
    </div>
</div>