<!--共通部分-->
<!DOCTYPE html>
<html>
  <head>
    <title>Arameya</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!--CSRF対策(クロスサイトリクエストフォージェリ)-->
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- FontAwesomeの読み込み log in→account→kits→cb~→copy-->
    <script src="https://kit.fontawesome.com/cb9c23a1e6.js" crossorigin="anonymous"></script>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column vh-100">
    <header class="shadow-sm">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <!--ロゴ-->
          <a class="navbar-brand; text-white" href="/" ><h5>あらめ屋<%#= image_tag 'logo', size: "50x50" %></h5></a>
          
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
            
              <% if admin_signed_in? %><!--管理者側ログイン後 admin→テーブル名-->
              
                <li><!--admin/homes#top-->
                  <%= link_to admin_path, class: "nav-link text-light" do %>
                    <button type="button" class="btn btn-outline-info">会員一覧</button>
                  <% end %>
                </li>
                
                <li><!--admin/genres#index-->
                  <%= link_to admin_genres_path, class: "nav-link text-light" do %>
                    <button type="button" class="btn btn-outline-info">ジャンル一覧</button>
                  <% end %>
                </li>
                
                <li><!--admin/sessions#destroy-->
                  <%= link_to destroy_admin_session_path, method: :delete, class: "nav-link text-light" do %>
                    <button type="button" class="btn btn-outline-info">ログアウト</button>
                  <% end %>
                </li>
                
              <% elsif member_signed_in? %><!--会員側ログイン後 member→テーブル名-->

                <li><!--検索窓-->
                  <%= render "/searches/form" %>
                </li>

                <li class="d-flex align-items-center justify-content-center text-white">
                  ようこそ、<%= current_member.last_name %> <%= current_member.first_name %>さん！
                </li>
                
                <li><!--public/members#show　(current_user.id)-->
                  <%= link_to members_my_page_path, class: "nav-link text-light" do %>
                    <button type="button" class="btn btn-outline-info">マイ<br>ページ</button>
                  <% end %>
                </li>
                
                <li><!--public/buy_items#index-->
                  <%= link_to buy_items_path, class: "nav-link text-light" do %>
                    <button type="button" class="btn btn-outline-info">[購入]<br>商品一覧</button>
                  <% end %>
                </li>
                
                <li><!--public/cart_items#index-->
                  <%= link_to cart_items_path, class: "nav-link text-light" do %>
                    <button type="button" class="btn btn-outline-info">[購入]<br>カート</button>
                  <% end %>
                </li>
                
                <li><!--public/buy_orders#index-->
                  <%= link_to buy_orders_path, class: "nav-link text-light" do %>
                    <button type="button" class="btn btn-outline-info">[購入]<br>注文履歴一覧</button>
                  <% end %>
                </li>
                
                <li><!--public/sell_items#index-->
                  <%= link_to sell_items_path, class: "nav-link text-light" do %>
                    <button type="button" class="btn btn-outline-info">[販売]<br>商品一覧</button>
                  <% end %>
                </li>
                
                <li><!--public/sell_orders#index-->
                  <%= link_to sell_orders_path, class: "nav-link text-light" do %>
                    <button type="button" class="btn btn-outline-info">[販売]<br>注文履歴一覧</button>
                  <% end %>
                </li>
                
                <li><!--public/sessions#destroy-->
                  <%= link_to destroy_member_session_path, method: :delete, class: "nav-link text-light" do %>
                    <button type="button" class="btn btn-outline-info">ログ<br>アウト</button>
                  <% end %>
                </li>
                
              <% else %><!--ログイン前-->

                <li><!--検索窓-->
                  <%= render "/searches/form" %>
                </li>

                <li class="nav-item"><!--public/homes#about-->
                  <%= link_to about_path, class: "nav-link text-light" do %>
                    <button type="button" class="btn btn-outline-info">About</button>
                  <% end %>
                </li>
                
                <li><!--public/buy_items#index-->
                  <%= link_to buy_items_path, class: "nav-link text-light" do %>
                    <button type="button" class="btn btn-outline-info">[購入]商品一覧</button>
                  <% end %>
                </li>
                
                <li><!--public/registrations#new-->
                  <%= link_to new_member_registration_path, class: "nav-link text-light" do %>
                    <button type="button" class="btn btn-outline-info">新規登録</button>
                  <% end %>
                </li>
                
                <li><!--public/sessions#new-->
                  <%= link_to new_member_session_path, class: "nav-link text-light" do %>
                    <button type="button" class="btn btn-outline-info">ログイン</button>
                  <% end %>
                </li>
              <% end %>
            
            </ul>
          </div>
        </div>
      </nav>
    </header>
  
    <main class="mb-auto">
      <%= yield %>
    </main>
  
    <footer class="bg-dark text-white pt-5 pb-4" align="center">©️2022 あらめ屋<br><br>
    </footer>
  </body>
</html>
